<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/styles/siteStylesheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <header>
        <h1>MegaDesk Builder</h1>
    </header>
        @RenderBody()
    <footer>
        Created by Nate Wadsworth and Evan Peterson
    </footer>
</body>
</html>
